<div class="quote-container d-flex justify-content-center align-items-center">
    <p class="h1">{{quote_text}}</p>
</div>
<div class=" about-me-container my-5  py-5 py-sm-1">
    <div class="row m-0  h-100 w-100">
        <div class="  pe-0 pt-3 col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 col-xxl-7 order-2 order-sm-2 order-md-2 order-lg-1 order-xl-1 order-xxl-1">
          <div class="text-container h-100 w-100 d-flex justify-content-center align-items-center  px-sm-5 ">
            <p >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
        <div class=" pe-0 p-0 pb-sm-0 col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 col-xxl-5 order-1 order-sm-1 order-md-1 order-lg-2 order-xl-2 order-xxl-2">
          <div class="about-image-container h-100 w-100 d-flex justify-content-center align-items-center  ">
            <img class="img-fluid my-sm-3   px-2 px-sm-4 px-md-4 px-lg-3 px-xl-3 px-xxl-3 "  src="../../assets/pictures/png/about-me-picture.PNG" alt="Bild von Christa Schulz">
          </div>
        </div>
      </div>
</div>
