

.main-body{
    padding-top: 84px;
    height: auto;
    .img-container{
      height: 65%;
    }
}
footer{
  padding-bottom: 0px;
  
  
}
@media (min-width: 576px) {   
  .main-body{
    padding-top: 100px;
   

    .img-container{
      height: 500px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .main-body{
        padding-top: 99px;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  .main-body{
   

    .img-container{
      height: 600px;
    }
  }
 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {  }